.main-footer {
  width: calc(100% - 32px);
  text-align: center;
  padding: 30px 0 10px;

  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06rem;
  position: fixed;
  bottom: 0;
}

.footer-icon {
  display: inline;
  width: 14px;
  height: 14px;
  margin-left: 0.3rem;
  animation: heartBeat 1s infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    transform: scale(1.5) translateX(9%) translateY(10%);
  }
}
