.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000008d;
}

.modal {
  max-width: calc(100vw - 1rem);
  max-height: calc(100vh - 1rem);
  color: #ffffffdc;
  background-color: #5e5e5e;
  padding: 2rem;
  border-radius: 0.3rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.modal-button-delete,
.modal-button-cancel,
.edit-message-button,
.edit-message-close {
  width: 80px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0.5rem;
  padding: 0.4rem;
  border: 2px solid #373535e6;
}

.modal-button-delete:hover,
.modal-button-delete:focus,
.modal-button-cancel:hover,
.modal-button-cancel:focus,
.edit-message-button:hover,
.edit-message-button:focus,
.edit-message-close:hover,
.edit-message-close:focus {
  background-color: #cacacae6;
  color: #202020;
}

.modal-button-delete,
.edit-message-button {
  color: #111111e6;
  background-color: #999797;
}
