.App {
  font-family: sans-serif;
  font-size: 16px;
  padding: 1rem;
  height: calc(100vh - 2rem);
  position: relative;
  letter-spacing: 0.01rem;

  background: linear-gradient(-45deg, #56ac59cf, #99e1d8, #99ecf3d7, #209487);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  --accent-color: #209487;
  --white-color: #ffffffdc;
  --scroll-bar-thumb-color: #000000;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
