.own-message {
  max-width: 500px;
  background-color: #242523;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem auto;
}

.backdrop + .own-message {
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.message-edit,
.message-delete {
  width: 80px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.message-edit {
  background-color: #534f4fe6;
  color: var(--white-color);
  border: 2px solid #373535e6;
  margin-right: 0.5rem;
}

.message-edit:hover,
.message-edit:focus {
  background-color: #636363e6;
}

.message-delete {
  color: #534f4fe6;
  background-color: var(--white-color);
  border: 2px solid #534f4fe6;
}

.message-delete:hover,
.message-delete:focus {
  background-color: #bebebe;
  color: #222222;
}

.between-buttons {
  height: 6px;
}
