.edit-message-modal {
  max-width: calc(500px);
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  display: none;

  background-color: #5e5e5e;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.edit-message-modal.modal-shown {
  display: flex;
}

.backdrop.modal-shown {
  display: none;
}
.edit-buttons {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%;
}
