.user-list-button {
  height: 30px;
  width: 100px;
}

.users {
  margin-top: 1rem;
  height: calc(100% - 200px);
  overflow-y: auto;
}

.user-item {
  border: 2px solid #373535e6;
  border-radius: 0.3rem;
  outline: none;
  padding: 0.5rem;
  max-width: 500px;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  column-gap: 10px;
}

.user-item + .user-item {
  margin-top: 0.5rem;
}

.user-list-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-data {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 10px;
  background-color: #373535e6;
  color: white;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-style: italic;
}

@media all and (max-width: 500px) {
  .user-item {
    display: flex;
    flex-direction: column;
  }

  .user-list-buttons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
  }
}
