.main-header {
  margin-bottom: 0.5rem;
  padding: 5px 0;
  display: flex;
  align-content: baseline;
}

.main-header .header-title,
.navigation-link {
  color: #534f4f;
  font-size: 30px;
  margin-left: 0.3rem;
  cursor: pointer;
}

.main-header .header-title {
  margin-right: 2rem;
}

.main-header .message-like {
  display: inline-block;
  width: 26px;
  height: 26px;
}

.navigation-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  margin-left: 0.5rem;
  line-height: 1.4;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #1b1b1b;
  display: flex;
  align-self: flex-end;
}

.user-name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 0.5rem;
  line-height: 1.4;
  color: #1c645ce2;
  font-style: italic;
  margin-left: auto;
}
