.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #534f4f;
  font-size: 20px;
  margin-bottom: 0.8rem;
  width: 70%;
}

.login-header {
  text-align: center;
  color: #534f4f;
  font-size: 30px;
  margin-bottom: 1rem;
}

.login-input {
  margin-top: 0.5rem;
  max-width: 500px;
  width: 100%;
}

.login-button {
  width: 100px;
  padding: 0.5rem;
}
